#menu-internas{
	position: absolute;
	top: em(25);
	right: 0;

	& > a {
		float: left;
		@include size(46px);
		@include hide-text;
		@include border-top-radius(30px);
		@include border-bottom-radius(30px);
		@include border-left-radius(30px);
		@include border-right-radius(30px);
		display: block;
		margin-right: 5px;
		background: $laranja url(../images/sprite/link-home-menu.png) no-repeat center;
		@include animation(rotate 0.5s linear both);
	}

	& > ul {
		@include border-top-radius(30px);
		@include border-bottom-radius(30px);
		@include border-left-radius(30px);
		@include border-right-radius(30px);
		@include size(auto 46px);
		@include box-sizing(border-box);
		width: 307px;
		float: left;
		background-color: $azul-escuro;
		padding: 0 23px;
		overflow: hidden;
		@include animation(tanUlX 0.5s linear both);

		li {
			@include box-sizing(border-box);
			display: block;
			float: left;
			text-decoration: none;
			padding-top: 13px;
			@include animation(fadeIn 0.5s ease-out both);
			@include animation-delay(0.3s);

			&:last-child a{
				border: none;
			}

			&:hover{
				border-top: 3px solid $laranja;
				padding-top: 10px;
			}

		}

		a{
			height: 16px;
			display: block;
			font: em(14) $semibold;
			text-decoration: none;
			color: $azul-link-menu;
			padding: 0 7px;
			border-right: 1px solid $azul-link-menu;
			-webkit-transition: color 0.3s ease-in-out;
		    -moz-transition: color 0.3s ease-in-out;
		    transition: color 0.3s ease-in-out;

			&:hover{
				color: $laranja;
			}

		}
	}

}



// tanUlX

@-webkit-keyframes tanUlX {
	0% {width: 0;}
	100% {width: 307px;}
}
@-moz-keyframes tanUlX {
	0% {width: 0;}
	100% {width: 307px;}
}
@-o-keyframes tanUlX {
	0% {width: 0;}
	100% {width: 307px;}
}
@keyframes tanUlX {
	0% {width: 0;}
	100% {width: 307px;}
}

// rotate

@-webkit-keyframes rotate {
	0% {transform: none}
	100% {transform: rotate(-540deg)}
}
@-moz-keyframes rotate {
	0% {transform: none}
	100% {transform: rotate(-540deg)}
}
@-o-keyframes rotate {
	0% {transform: none}
	100% {transform: rotate(-540deg)}
}
@keyframes rotate {
	0% {transform: none}
	100% {transform: rotate(-540deg)}
}
















