.bg-oquesomos{
	display: block;
	@include size(100% 950);
	@extend %clearfix;
	@include position(absolute, auto 0 0 0);
	background: url(../images/bg-oquesomos.png) no-repeat center;
	opacity: 0;
	filter:alpha(opacity=0);
	@include animation(fadeIn 0.5s ease-out both, slideLeft 0.3s ease-out);

}

#oquesomos{
	article{
		padding-top: 120px;
		width: 540px;
		position: relative;
		@include animation(fadeIn 0.5s ease-out both, slideLeft 0.3s ease-out);
		@include animation-delay(0.4s);

		p{
			font: em(18) $semibold;
			color: $cinza-escuro;
		}

		h5{
			font: em(30) $extrabold;
			line-height: 24px;
			color: $laranja;
			margin: 10px 0;
		}
	}
}