
      <header id="header">
        <div class="bg-header"></div>
        <h1>seliganaweb</h1>
        <h2>se<span>juntar</span>dá<span>liga!</span></h2>
          <nav id="menu-home">
            <a href="#oquesomos" class="link-oquesomos bg-animation" ng-click="setCurrentPage('oquesomos')">o<span>que</span>somos</a>
            <a href="#aliga" class="link-aliga bg-animation" ng-click="setCurrentPage('aliga')"><span>a</span>liga</a>
            <a href="#portfolio" class="link-portfolio bg-animation" ng-click="setCurrentPage('portfolio')"><span>port</span>fólio</a>
            <a href="#contato" class="link-contato bg-animation" ng-click="setCurrentPage('contato')"><span>con</span>tato</a>
          </nav>
      </header>
