      <span class="bg-oquesomos"></span>
      <section id="pg-internas" ng-controller="MainCtrl">

      <menu></menu>

        <section id="oquesomos">
          <header class="header-sections">
            <h1>o<span>que</span>somos</h1>
          </header>

          <article>
            <p>Hoje você compartilha praticamente tudo. Compartilha momentos com quem gosta, compartilha suas experiências através das redes sociais, compartilha opiniões, notícias e lugares.</p>
            <h5>E porque não compartilhar profissionais, ideias, trabalhos e principalmente, a sua marca de um jeito novo?</h5>
            <p>Isto é o Se Liga na Web. Um pool de trabalho compartilhado, que coloca à disposição da sua marca todo o talento de profissionais das áreas de comunicação, design e T.I.</p>
          </article>

        </section>
        <!-- #oquesomos -->     

      </section>
      <!-- #pg-internas -->

