

      <section id="pg-internas" ng-controller="MainCtrl">

        <menu></menu>

        <section id="portfolio">
          <header class="header-sections">
            <h1><span>port</span>fólio</h1>
          </header>

          <section id="slide-port">
            <ul>
              <li><a href="#"><img src="../images/port/01.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/02.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/03.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/04.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/05.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/06.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/07.png" alt=""></a></li>
              <li><a href="#"><img src="../images/port/08.png" alt=""></a></li>
            </ul>
          </section>

          <nav id="nav-slide-port">
            <a href="#"><</a>
            <a href="#">01</a>
            <a href="#">02</a>
            <a href="#">03</a>
            <a href="#">04</a>
            <a href="#">></a>
          </nav>

        </section>
        <!-- #portfolio -->

      </section>
      <!-- #pg-internas -->

